.each-detail {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 1px #f2f2f2;
}

.each-detail img {
	height: 130px;
}

.each-detail h2 {
	font-size: 25px;
    color: #333;
    font-weight: 100;
}

.each-detail p {
	font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.each-detail:hover {
	background: #e2e2e2;
    cursor: pointer;
    text-align: center;
}

.full-details-head {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 35px;
}

.brief-details {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
}

.full-details-bottom {
	font-size: 34px;
    font-weight: 100;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.full-details-head img {
	height: 130px;
}

.full-details-head h2 {
	font-size: 30px;
    color: #333;
    font-weight: 100;
}

.forecast-header {
	font-size: 65px;
    color: #333;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.select-date {
	font-size: 30px;
    color: #333;
    font-weight: 100;
    text-align: center;
}